@charset "UTF-8";

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated.bounceIn {
    animation-duration: 0.7s;
}
.animated.bounceOut {
    animation-duration: 0.5s;
}
.animated.bounceIn {
    animation-name: bounceIn;
}
.animated.bounceOut {
    animation-name: bounceOut;
}
.animated.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.7s;
}
.animated.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.3s;
}
.animated.bounceInDown {
    animation-name: bounceInDown;
}
.animated.bounceOutUp {
    animation-name: bounceOutUp;
}
@keyframes bounceIn {
    20%,
    40%,
    60%,
    80%,
    from,
    to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
    }
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
    20% {
        transform: scale3d(1.05,1.05,1.05);
    }
    40% {
        transform: scale3d(.95,.95,.95);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.02,1.02,1.02);
    }
    80% {
        transform: scale3d(.98,.98,.98);
    }
    to {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}
@keyframes bounceOut {
    20% {
        transform: scale3d(.9,.9,.9);
    }
    50%,
    55% {
        opacity: 1;
        transform: scale3d(1.1,1.1,1.1);
    }
    to {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes bounceInDown {
    60%,
    75%,
    90%,
    from,
    to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0,-3000px,0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0,25px,0);
    }
    75% {
        transform: translate3d(0,-10px,0);
    }
    90% {
        transform: translate3d(0,5px,0);
    }
    to {
        transform: none;
    }
}
@keyframes bounceOutUp {
    20% {
        transform: translate3d(0,-10px,0);
    }
    40%,
    45% {
        opacity: 1;
        transform: translate3d(0,20px,0);
    }
    to {
        opacity: 0;
        transform: translate3d(0,-2000px,0);
    }
}
.confirm-holder {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
.confirm-holder.active {
    display: block;
}
.confirm-holder .shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(50,58,68,.8);
}
.confirm-holder .confirm {
    width: 320px;
    background-color: #fff;
    position: absolute;
    z-index: 9;
    top: 20%;
    left: 50%;
    margin-left: -160px;
    box-shadow: 3px 3px 20px #333;
    border-radius: 4px;
    overflow: hidden;
}
.confirm-holder .confirm .message {
    width: 90%;
    padding: 5%;
    min-height: 50px;
    font-size: 1em;
    background-color: #fff;
    text-align: center;
    font-family: open-sanscondensed-light,sans-serif;
    clear: both;
}
.confirm-holder .confirm button {
    width: 50%;
    height: 50px;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    float: left;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    overflow: hidden;
}
.confirm-holder .confirm button p {
    position: relative;
    z-index: 1;
    line-height: 100%;
    padding: 0;
    margin: 0;
    color: #555;
}
.confirm-holder .confirm button:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background-color: #999;
    border-radius: 50%;
    z-index: 0;
    opacity: 0.2;
    transform: scale(0);
}
.confirm-holder .confirm button.active:before {
    transition: transform 0.25s ease-in-out;
    transform: scale(2);
}
.confirm-holder .confirm button:focus {
    outline: 0;
}
.confirm-holder .confirm button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
body.toastr-confirm-active {
    overflow: hidden;
}
.redux-toastr {
    width: 340px;
    position: fixed;
    z-index: 99999999;
    color: #313131;
}
.redux-toastr *,
.redux-toastr:after,
.redux-toastr:before {
    box-sizing: border-box;
}
.redux-toastr.top-left,
.redux-toastr.top-right {
    top: 15px;
}
.redux-toastr.bottom-left,
.redux-toastr.bottom-right {
    bottom: 15px;
}
.redux-toastr.top-left {
    left: 15px;
}
.redux-toastr.top-right {
    right: 15px;
}
.redux-toastr.bottom-left {
    left: 15px;
}
.redux-toastr.bottom-right {
    right: 15px;
}
.redux-toastr .toastr {
    background-color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
    color: #333;
    opacity: 0.94;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.redux-toastr .toastr:before {
    position: absolute;
    top: 50%;
    left: 22px;
    margin-top: -11px;
    font-size: 22px;
}
.redux-toastr .toastr:hover {
    cursor: pointer;
    //box-shadow: 0 0 10px #777;
    opacity: 1;
}
.redux-toastr .toastr .message-holder {
    width: 100%;
    position: relative;
    font-size: 1em;
    text-align: left;
}
.redux-toastr .toastr .message-holder .title {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 5px;
}

.close-toastr {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 18px;
  height: 18px;
  background: transparent url("/dist/images/close-icon.svg");
  border: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.close-toastr:hover {
  opacity: 0.7;
}

.redux-toastr .toastr.error,
.redux-toastr .toastr.info,
.redux-toastr .toastr.success,
.redux-toastr .toastr.warning {
    padding: 20px 40px 20px 55px;
}
.redux-toastr .toastr.info {
    border-left: 4px #3B5998 solid;
    background-image: url("/dist/images/info-icon.svg");
}
.redux-toastr .toastr.success {
    border-left: 4px #8FD920 solid;
    background-image: url("/dist/images/check-icon.svg");
}
.redux-toastr .toastr.warning {
    border-left: 4px #f7a336 solid;
    background-image: url("/dist/images/warning-icon.svg");
}
.redux-toastr .toastr.error {
    border-left: 4px #DC2626 solid;
    background-image: url("/dist/images/error-icon.svg");
}
.redux-toastr .toastr.message {
    opacity: 1;
    border: 1px solid #dbdbdb;
}
.redux-toastr .toastr.message .message-holder {
    width: 100%;
    margin-left: 0;
}
.redux-toastr .toastr.message .message-holder .title {
    width: 90%;
    height: 50px;
    text-align: center;
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 50px;
    padding: 0 20px;
}
.redux-toastr .toastr.message .message-holder .message {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    padding: 15px;
    font-size: 1.1em;
    margin-bottom: 20px;
}
.redux-toastr .toastr.message .message-holder .message img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}
